.nav__logo{
    position: fixed;
    left: 20px;
    width: 120px;
    object-fit: contain;
    cursor: pointer;
}

.nav{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   /* animation */
   transition-timing-function: ease-in;
   transition: all 0.8s;
}

.nav__avatar{
    position: fixed;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
    right: 20px;
}

.nav_black{
    background-color: rgb(0,0,0);
     height: 30px;
}

@media screen and (max-width:500px){
    .nav__avatar{
        position: fixed;
        width: 30px;
        object-fit: contain;
        cursor: pointer;
        right: 75px;
    }
}



@media screen and (max-width:400px){
    .nav{
    
        width: 100vw;
        padding: 20px;
      
    }

    .nav__avatar{
        position: fixed;
        width: 30px;
        object-fit: contain;
        cursor: pointer;
        right: 50px;
    }
}

@media screen and (max-width:350px){
    .nav{
        width: 110vw;
    }
}